    {% extends 'admin.html.twig' %}
    {% block title %} Goto Bookings {% endblock %}
    {% block admin_body %}
<body class="fixed-nav sticky-footer" id="page-top">
    {% endblock %}

{% block content %}
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href={{ asset('#') }}>Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Categories</li>
            </ol>
            <div class="box_general">
                <div class="header_box">
                    <h2 class="d-inline-block">Mise A Jour Catégorie</h2>
                    <div class="filter">
                        <select name="orderby" class="selectbox">
                            <option value="Any status">Any status</option>
                            <option value="Approved">Approved</option>
                            <option value="Pending">Pending</option>
                            <option value="Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
                {# Adam: a charger avec la liste des reservations #}
                <div class="list_general">
                    {# Adam: insert la table  #}

                    <div class="bg_gray pattern" id="submit">
                        <div class="container margin_60_40">
                            <div class="row justify-content-center">
                                <div class="col-lg-5">

                                    {{ form(f) }}

                                </div>
                            </div>





                            <!-- /container -->
                        </div>
                    </div>



                    
                </div>
            </div>
            <!-- /box_general-->
            <nav aria-label="...">
                <ul class="pagination pagination-sm add_bottom_30">
                    <li class="page-item disabled">
                        <a class="page-link" href="{{ asset('#') }}" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">1</a></li>
                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">2</a></li>
                    <li class="page-item"><a class="page-link" href="{{ asset('#') }}">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="{{ asset('#') }}">Next</a>
                    </li>
                </ul>
            </nav>
            <!-- /pagination-->
        </div>
        <!-- /container-fluid-->
    </div>
    <!-- /container-wrapper-->

{% endblock %}

{#
<footer class="sticky-footer">
    <div class="container">
        <div class="text-center">
            <small>Copyright © FOOGRA 2019</small>
        </div>
    </div>
</footer>
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="{{ asset('#page-top') }}">
    <i class="fa fa-angle-up"></i>
</a>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="{{ asset('login.html') }}">Logout</a>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript-->

<script src="{{ asset('admin_section/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('admin_section/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<!-- Core plugin JavaScript-->
<script src="{{ asset('admin_section/vendor/jquery-easing/jquery.easing.min.js') }}"></script>
<!-- Page level plugin JavaScript-->
<script src="{{ asset('admin_section/vendor/chart.js/Chart.min.js') }}"></script>
<script src="{{ asset('admin_section/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('admin_section/vendor/datatables/dataTables.bootstrap4.js') }}"></script>
<script src="{{ asset('admin_section/vendor/jquery.selectbox-0.2.js') }}"></script>
<script src="{{ asset('admin_section/vendor/retina-replace.min.js') }}"></script>
<script src="{{ asset('admin_section/vendor/jquery.magnific-popup.min.js') }}"></script>
<!-- Custom scripts for all pages-->
<script src="{{ asset('admin_section/js/admin.js') }}"></script>

</body>
</html>
#}





























